<!--Bottom Nav-->
 
<footer>
    <nav class="navbar fixed-bottom navbar dark bg-dark">
      <div class="container-fluid">
        <h5 class="display-8 text-muted"> &copy;  Shinumol Sebastian 301040156   Summer 2023.</h5>
      </div>
    </nav>
  </footer>